<?xml version="1.0" encoding="utf-8"?>
<configuration>
   
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserManager" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/UserManager" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUserManager" contract="UserManagerService.IUserManager"
                name="WSHttpBinding_IUserManager">
                <identity>
                    <userPrincipalName value="SIIPOLSKA\pbiesiada" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
